body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
}
p {
  margin: 0;
}
.font-title {
  font: Saira;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.04px;
}
.font-price {
  font: Saira;
  font-weight: 400;
  font-size: 24px;
  line-height: 37.78px;
  margin-top: 45px;
  margin-left: auto;
}
.form-container {
  width: 481.45px;
  height: 248px;
  display: flex;
  flex-wrap: wrap;
}
.field {
  width: 230px;
  height: 26px;
  border-radius: 5px;
  padding: 5px, 16px, 5px, 16px;
}
.field-discription {
  width: 481px;
  height: 75px;
  border-radius: 5px;
  padding: 5px, 16px, 5px, 16px;
  gap: 10px;
}
.button-form {
  width: 236px;
  height: 24px;
  background-color: rgba(105, 105, 105, 1);
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  padding: 4px, 22px, 4px, 22px;
  font: Saira;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.04px;
  align-items: center;
}
.statistic-div {
  height: 161px;
  border-top: 1px solid rgba(196, 196, 196, 1);
  margin-left: 10px;
  text-align: start;
}

.statistic-title {
  font: Saira;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.04px;
  align-items: center;
  margin-top: 10px;
}
.statistic-text {
  font: Saira;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.04px;
  align-items: center;
}
.span-statistic {
  font: Saira;
  font-weight: 700;
  font-size: 14px;
  line-height: 22.04px;
  align-items: center;
}
